framework: netstandard2.0
source https://api.nuget.org/v3/index.json
	
nuget fake-cli                       ~> 6.0.0
nuget Fake.DotNet.Paket              ~> 6.0.0
nuget Fake.Core.ReleaseNotes         ~> 6.0.0
nuget Fake.IO.FileSystem             ~> 6.0.0
nuget Fake.DotNet.Cli                ~> 6.0.0
nuget Fake.DotNet.MSBuild            ~> 6.0.0
nuget Fake.Tools.Git                 ~> 6.0.0
nuget Fake.Core.Target               ~> 6.0.0
	
nuget SourceLink.Fake                ~> 1.1.0
nuget Mono.Cecil                     ~> 0.11.5

nuget Argu                           ~> 6.2.4
nuget System.IO.Compression.ZipFile  ~> 4.3.0

group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json

nuget fake-cli                       ~> 6.0.0
nuget Fake.DotNet.Paket              ~> 6.0.0
nuget Fake.Core.ReleaseNotes         ~> 6.0.0
nuget Fake.IO.FileSystem             ~> 6.0.0
nuget Fake.DotNet.Cli                ~> 6.0.0
nuget Fake.DotNet.MSBuild            ~> 6.0.0
nuget Fake.Tools.Git                 ~> 6.0.0
nuget Fake.Core.Target               ~> 6.0.0
	
nuget SourceLink.Fake                ~> 1.1.0
nuget Mono.Cecil                     ~> 0.11.5

nuget Argu                           ~> 6.2.4
nuget System.IO.Compression.ZipFile  ~> 4.3.0